In [1]:
%defaultDatasource jdbc:h2:mem:db

Modelo Conceitual 

---

<img src="UML.jpg">

Modelo Logico

---

Paciente(_idPaciente_, sexo, idade, diagnostico)

Exame(_idPaciente_, _nomeExame_, resultado)

	⤷ idPaciente é CHE para Paciente
    
Sintoma(_idPaciente_, _nomeSintoma_, intensidade)

	⤷ idPaciente é CHE para Paciente

In [2]:
-- Criando as tabelas colocadas no modelo

CREATE TABLE Paciente(
    idPaciente INT IDENTITY(1 , 1) NOT NULL,
    sexo INT NOT NULL, 
    idade INT NOT NULL,
    diagnostico INT NOT NULL,
    PRIMARY KEY(idPaciente)
);

CREATE TABLE Exame(
    idPaciente INT NOT NULL,
    nomeExame VARCHAR(100) NOT NULL, 
    resultado FLOAT,
    PRIMARY KEY(idPaciente, nomeExame),
    FOREIGN KEY(idPaciente)
    REFERENCES Paciente(idPaciente)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
);

CREATE TABLE Sintoma(
    idPaciente INT NOT NULL,
    nomeSintoma VARCHAR(100) NOT NULL, 
    intensidade INT,
    PRIMARY KEY(idPaciente, nomeSintoma),
    FOREIGN KEY(idPaciente)
    REFERENCES Paciente(idPaciente)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
);

In [3]:
-- Inserindo os dados nas tabelas

--Paciente 1 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 28, 0);
INSERT INTO Sintoma VALUES (1, 'chest pain', 2);
INSERT INTO Exame VALUES (1, 'bood pressure', 130);
INSERT INTO Exame VALUES (1, 'serum cholesterol', 132);
INSERT INTO Exame VALUES (1, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (1, 'eletrocardiography', 2);
INSERT INTO Exame VALUES (1, 'maximum heart hate', 185);
INSERT INTO Exame VALUES (1, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (1, 'ST depression induced by exercice', 0);

--Paciente 2 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 39, 0);
INSERT INTO Sintoma VALUES (2, 'chest pain', 3);
INSERT INTO Exame VALUES (2, 'bood pressure', 120);
INSERT INTO Exame VALUES (2, 'serum cholesterol', 339);
INSERT INTO Exame VALUES (2, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (2, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (2, 'maximum heart hate', 170);
INSERT INTO Exame VALUES (2, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (2, 'ST depression induced by exercice', 0);


--Paciente 3 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 44, 0);
INSERT INTO Sintoma VALUES (3, 'chest pain', 4);
INSERT INTO Exame VALUES (3, 'bood pressure', 150);
INSERT INTO Exame VALUES (3, 'serum cholesterol', 412);
INSERT INTO Exame VALUES (3, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (3, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (3, 'maximum heart hate', 170);
INSERT INTO Exame VALUES (3, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (3, 'ST depression induced by exercice', 0);

--Paciente 4 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 29, 0);
INSERT INTO Sintoma VALUES (4, 'chest pain', 2);
INSERT INTO Exame VALUES (4, 'bood pressure', 140);
INSERT INTO Exame VALUES (4, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (4, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (4, 'maximum heart hate', 170);
INSERT INTO Exame VALUES (4, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (4, 'ST depression induced by exercice', 0);

--Paciente 5 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (0, 50, 0);
INSERT INTO Sintoma VALUES (5, 'chest pain', 4);
INSERT INTO Exame VALUES (5, 'bood pressure', 120);
INSERT INTO Exame VALUES (5, 'serum cholesterol', 328);
INSERT INTO Exame VALUES (5, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (5, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (5, 'maximum heart hate', 110);
INSERT INTO Exame VALUES (5, 'exercice induce angina', 1);
INSERT INTO Exame VALUES (5, 'ST depression induced by exercice', 1);
INSERT INTO Exame VALUES (5, 'slope of ST segment on exercice', 2);

--Paciente 6 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (0, 51, 0);
INSERT INTO Sintoma VALUES (6, 'chest pain', 2);
INSERT INTO Exame VALUES (6, 'bood pressure', 160);
INSERT INTO Exame VALUES (6, 'serum cholesterol', 194);
INSERT INTO Exame VALUES (6, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (6, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (6, 'maximum heart hate', 170);
INSERT INTO Exame VALUES (6, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (6, 'ST depression induced by exercice', 0);

--Paciente 7 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (0, 53, 0);
INSERT INTO Sintoma VALUES (7, 'chest pain', 3);
INSERT INTO Exame VALUES (7, 'bood pressure', 120);
INSERT INTO Exame VALUES (7, 'serum cholesterol', 274);
INSERT INTO Exame VALUES (7, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (7, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (7, 'maximum heart hate', 130);
INSERT INTO Exame VALUES (7, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (7, 'ST depression induced by exercice', 0);

--Paciente 8 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 54, 0);
INSERT INTO Sintoma VALUES (8, 'chest pain', 3);
INSERT INTO Exame VALUES (8, 'bood pressure', 150);
INSERT INTO Exame VALUES (8, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (8, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (8, 'maximum heart hate', 122);
INSERT INTO Exame VALUES (8, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (8, 'ST depression induced by exercice', 0);

--Paciente 9 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 55, 0);
INSERT INTO Sintoma VALUES (9, 'chest pain', 2);
INSERT INTO Exame VALUES (9, 'bood pressure', 120);
INSERT INTO Exame VALUES (9, 'serum cholesterol', 256);
INSERT INTO Exame VALUES (9, 'rasting blood_sugar', 1);
INSERT INTO Exame VALUES (9, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (9, 'maximum heart hate', 137);
INSERT INTO Exame VALUES (9, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (9, 'ST depression induced by exercice', 0);
INSERT INTO Exame VALUES (9, 'thal', 7);

--Paciente 10 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 59, 0);
INSERT INTO Sintoma VALUES (10, 'chest pain', 2);
INSERT INTO Exame VALUES (10, 'bood pressure', 140);
INSERT INTO Exame VALUES (10, 'serum cholesterol', 287);
INSERT INTO Exame VALUES (10, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (10, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (10, 'maximum heart hate', 150);
INSERT INTO Exame VALUES (10, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (10, 'ST depression induced by exercice', 0);

--Paciente 11 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 41, 1);
INSERT INTO Sintoma VALUES (11, 'chest pain', 4);
INSERT INTO Exame VALUES (11, 'bood pressure', 120);
INSERT INTO Exame VALUES (11, 'serum cholesterol', 237);
INSERT INTO Exame VALUES (11, 'rasting blood_sugar', NULL);
INSERT INTO Exame VALUES (11, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (11, 'maximum heart hate', 138);
INSERT INTO Exame VALUES (11, 'exercice induce angina', 1);
INSERT INTO Exame VALUES (11, 'ST depression induced by exercice', 1);
INSERT INTO Exame VALUES (11, 'slope of ST segment on exercice', 2);

--Paciente 12 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (0, 51, 1);
INSERT INTO Sintoma VALUES (12, 'chest pain', 4);
INSERT INTO Exame VALUES (12, 'bood pressure', 160);
INSERT INTO Exame VALUES (12, 'serum cholesterol', 303);
INSERT INTO Exame VALUES (12, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (12, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (12, 'maximum heart hate', 150);
INSERT INTO Exame VALUES (12, 'exercice induce angina', 1);
INSERT INTO Exame VALUES (12, 'ST depression induced by exercice', 1);
INSERT INTO Exame VALUES (12, 'slope of ST segment on exercice', 2);

--Paciente 13 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 32, 1);
INSERT INTO Sintoma VALUES (13, 'chest pain', 4);
INSERT INTO Exame VALUES (13, 'bood pressure', 118);
INSERT INTO Exame VALUES (13, 'serum cholesterol', 529);
INSERT INTO Exame VALUES (13, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (13, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (13, 'maximum heart hate', 130);
INSERT INTO Exame VALUES (13, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (13, 'ST depression induced by exercice', 0);

--Paciente 14 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 52, 1);
INSERT INTO Sintoma VALUES (14, 'chest pain', 4);
INSERT INTO Exame VALUES (14, 'bood pressure', 170);
INSERT INTO Exame VALUES (14, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (14, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (14, 'maximum heart hate', 126);
INSERT INTO Exame VALUES (14, 'exercice induce angina', 1);
INSERT INTO Exame VALUES (14, 'ST depression induced by exercice', 1.5);
INSERT INTO Exame VALUES (14, 'slope of ST segment on exercice', 2);

--Paciente 15 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 57, 1);
INSERT INTO Sintoma VALUES (15, 'chest pain', 4);
INSERT INTO Exame VALUES (15, 'bood pressure', 150);
INSERT INTO Exame VALUES (15, 'serum cholesterol', 255);
INSERT INTO Exame VALUES (15, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (15, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (15, 'maximum heart hate', 92);
INSERT INTO Exame VALUES (15, 'exercice induce angina', 1);
INSERT INTO Exame VALUES (15, 'ST depression induced by exercice', 3);
INSERT INTO Exame VALUES (15, 'slope of ST segment on exercice', 2);

--Paciente 16 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 58, 1);
INSERT INTO Sintoma VALUES (16, 'chest pain', 4);
INSERT INTO Exame VALUES (16, 'bood pressure', 130);
INSERT INTO Exame VALUES (16, 'serum cholesterol', 263);
INSERT INTO Exame VALUES (16, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (16, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (16, 'maximum heart hate', 140);
INSERT INTO Exame VALUES (16, 'exercice induce angina', 1);
INSERT INTO Exame VALUES (16, 'ST depression induced by exercice', 2);
INSERT INTO Exame VALUES (16, 'slope of ST segment on exercice', 2);

--Paciente 17 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 52, 1);
INSERT INTO Sintoma VALUES (17, 'chest pain', 4);
INSERT INTO Exame VALUES (17, 'bood pressure', 130);
INSERT INTO Exame VALUES (17, 'serum cholesterol', 298);
INSERT INTO Exame VALUES (17, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (17, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (17, 'maximum heart hate', 110);
INSERT INTO Exame VALUES (17, 'exercice induce angina', 1);
INSERT INTO Exame VALUES (17, 'ST depression induced by exercice', 1);
INSERT INTO Exame VALUES (17, 'slope of ST segment on exercice', 2);

--Paciente 18 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 55, 1);
INSERT INTO Sintoma VALUES (18, 'chest pain', 2);
INSERT INTO Exame VALUES (18, 'bood pressure', 160);
INSERT INTO Exame VALUES (18, 'serum cholesterol', 292);
INSERT INTO Exame VALUES (18, 'rasting blood_sugar', 1);
INSERT INTO Exame VALUES (18, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (18, 'maximum heart hate', 143);
INSERT INTO Exame VALUES (18, 'exercice induce angina', 1);
INSERT INTO Exame VALUES (18, 'ST depression induced by exercice', 2);
INSERT INTO Exame VALUES (18, 'slope of ST segment on exercice', 2);

--Paciente 19 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (0, 49, 1);
INSERT INTO Sintoma VALUES (19, 'chest pain', 4);
INSERT INTO Exame VALUES (19, 'bood pressure', 150);
INSERT INTO Exame VALUES (19, 'serum cholesterol', 222);
INSERT INTO Exame VALUES (19, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (19, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (19, 'maximum heart hate', 122);
INSERT INTO Exame VALUES (19, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (19, 'ST depression induced by exercice', 2);
INSERT INTO Exame VALUES (19, 'slope of ST segment on exercice', 2);

--Paciente 20 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (0, 54, 1);
INSERT INTO Sintoma VALUES (20, 'chest pain', 3);
INSERT INTO Exame VALUES (20, 'bood pressure', 130);
INSERT INTO Exame VALUES (20, 'serum cholesterol', 294);
INSERT INTO Exame VALUES (20, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (20, 'eletrocardiography', 1);
INSERT INTO Exame VALUES (20, 'maximum heart hate', 100);
INSERT INTO Exame VALUES (20, 'exercice induce angina', 1);
INSERT INTO Exame VALUES (20, 'ST depression induced by exercice', 0);
INSERT INTO Exame VALUES (20, 'slope of ST segment on exercice', 2);

--Paciente 21 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (0, 58, 1);
INSERT INTO Sintoma VALUES (21, 'chest pain', 2);
INSERT INTO Exame VALUES (21, 'bood pressure', 180);
INSERT INTO Exame VALUES (21, 'serum cholesterol', 393);
INSERT INTO Exame VALUES (21, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (21, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (21, 'maximum heart hate', 110);
INSERT INTO Exame VALUES (21, 'exercice induce angina', 1);
INSERT INTO Exame VALUES (21, 'ST depression induced by exercice', 1);
INSERT INTO Exame VALUES (21, 'slope of ST segment on exercice', 2);
INSERT INTO Exame VALUES (21, 'thal', 7);

--Paciente 22 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 45, 0);
INSERT INTO Sintoma VALUES (22, 'chest pain', 4);
INSERT INTO Exame VALUES (22, 'bood pressure', 120);
INSERT INTO Exame VALUES (22, 'serum cholesterol', 225);
INSERT INTO Exame VALUES (22, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (22, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (22, 'maximum heart hate', 140);
INSERT INTO Exame VALUES (22, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (22, 'ST depression induced by exercice', 0);

--Paciente 23 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (0, 35, 0);
INSERT INTO Sintoma VALUES (23, 'chest pain', 1);
INSERT INTO Exame VALUES (23, 'bood pressure', 120);
INSERT INTO Exame VALUES (23, 'serum cholesterol', 160);
INSERT INTO Exame VALUES (23, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (23, 'eletrocardiography', 1);
INSERT INTO Exame VALUES (23, 'maximum heart hate', 185);
INSERT INTO Exame VALUES (23, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (23, 'ST depression induced by exercice', 0);

--Paciente 24 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 39, 0);
INSERT INTO Sintoma VALUES (24, 'chest pain', 2);
INSERT INTO Exame VALUES (24, 'bood pressure', 120);
INSERT INTO Exame VALUES (24, 'serum cholesterol', 200);
INSERT INTO Exame VALUES (24, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (24, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (24, 'maximum heart hate', 160);
INSERT INTO Exame VALUES (24, 'exercice induce angina', 1);
INSERT INTO Exame VALUES (24, 'ST depression induced by exercice', 1);
INSERT INTO Exame VALUES (24, 'slope of ST segment on exercice', 2);

--Paciente 25 e exames
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (0, 41, 0);
INSERT INTO Sintoma VALUES (25, 'chest pain', 2);
INSERT INTO Exame VALUES (25, 'bood pressure', 110);
INSERT INTO Exame VALUES (25, 'serum cholesterol', 250);
INSERT INTO Exame VALUES (25, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (25, 'eletrocardiography', 1);
INSERT INTO Exame VALUES (25, 'maximum heart hate', 142);
INSERT INTO Exame VALUES (25, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (25, 'ST depression induced by exercice', 0);

--Paciente 26 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (0, 47, 0);
INSERT INTO Sintoma VALUES (26, 'chest pain', 3);
INSERT INTO Exame VALUES (26, 'bood pressure', 130);
INSERT INTO Exame VALUES (26, 'serum cholesterol', NULL);
INSERT INTO Exame VALUES (26, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (26, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (26, 'maximum heart hate', 145);
INSERT INTO Exame VALUES (26, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (26, 'ST depression induced by exercice', 2);
INSERT INTO Exame VALUES (26, 'slope of ST segment on exercice', 2);

--Paciente 27 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 46, 0);
INSERT INTO Sintoma VALUES (27, 'chest pain', 4);
INSERT INTO Exame VALUES (27, 'bood pressure', 110);
INSERT INTO Exame VALUES (27, 'serum cholesterol', 240);
INSERT INTO Exame VALUES (27, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (27, 'eletrocardiography', 1);
INSERT INTO Exame VALUES (27, 'maximum heart hate', 140);
INSERT INTO Exame VALUES (27, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (27, 'ST depression induced by exercice', 0);
INSERT INTO Exame VALUES (27, 'thal', 3);

--Paciente 28 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (0, 56, 0);
INSERT INTO Sintoma VALUES (28, 'chest pain', 3);
INSERT INTO Exame VALUES (28, 'bood pressure', 130);
INSERT INTO Exame VALUES (28, 'serum cholesterol', 219);
INSERT INTO Exame VALUES (28, 'eletrocardiography', 1);
INSERT INTO Exame VALUES (28, 'maximum heart hate', 164);
INSERT INTO Exame VALUES (28, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (28, 'ST depression induced by exercice', 0);
INSERT INTO Exame VALUES (28, 'thal', 7);

--Paciente 29 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 47, 0);
INSERT INTO Sintoma VALUES (29, 'chest pain', 4);
INSERT INTO Exame VALUES (29, 'bood pressure', 140);
INSERT INTO Exame VALUES (29, 'serum cholesterol', 176);
INSERT INTO Exame VALUES (29, 'rasting blood_sugar', 1);
INSERT INTO Exame VALUES (29, 'eletrocardiography', 0);
INSERT INTO Exame VALUES (29, 'maximum heart hate', 125);
INSERT INTO Exame VALUES (29, 'exercice induce angina', 1);
INSERT INTO Exame VALUES (29, 'ST depression induced by exercice', 0);

--Paciente 30 e exames 
INSERT INTO Paciente (sexo, idade, diagnostico) VALUES (1, 37, 0);
INSERT INTO Sintoma VALUES (30, 'chest pain', 2);
INSERT INTO Exame VALUES (30, 'bood pressure', 130);
INSERT INTO Exame VALUES (30, 'serum cholesterol', 283);
INSERT INTO Exame VALUES (30, 'rasting blood_sugar', 0);
INSERT INTO Exame VALUES (30, 'eletrocardiography', 1);
INSERT INTO Exame VALUES (30, 'maximum heart hate', 98);
INSERT INTO Exame VALUES (30, 'exercice induce angina', 0);
INSERT INTO Exame VALUES (30, 'ST depression induced by exercice', 0);

In [5]:
SELECT * FROM Paciente;
SELECT * FROM Exame;
SELECT * FROM Sintoma;

Análise dos dados 
===

---

Analisando a relação da quantidade de pessoas problemas cardiacos de acordo com sua idade
---

In [7]:
SELECT idade, diagnostico, COUNT(*) 
FROM Paciente 
GROUP BY idade, diagnostico;

Analisando o sexo em que a doença aparece com maior frequencia
---

In [10]:
SELECT sexo, diagnostico, COUNT(*) total
FROM Paciente 
WHERE diagnostico = 1
GROUP BY sexo, diagnostico;

Quantidade de pessoas diagnosticadas que sentiram fortes dores no peito (intensidade = 4)
---

In [13]:
SELECT COUNT(*)
FROM Sintoma S, Paciente P
WHERE S.idPaciente = P.idPaciente AND P.diagnostico = 1 AND S.intensidade = 4;

8

Idade das Pessoas que foram diagnosticadas e sentiram dor no peito após exercicios
---

In [14]:
SELECT idade 
FROM Paciente P, Exame E
WHERE E.idPaciente = P.idPaciente AND E.nomeExame = 'exercice induce angina' AND E.resultado = 1;

media de colesterol alto de pessoas que possuem uma doença cardiada
---

In [15]:
SELECT AVG(E.resultado) 
FROM Exame E, Paciente P 
WHERE P.IdPaciente = E.idPaciente AND E.nomeExame = 'serum cholesterol' AND P.diagnostico = 1;

308.6